*{margin:0;padding:0;box-sizing:border-box;font-family:Arial,sans-serif}
html{scroll-behavior:smooth}
body{background:#050816;color:white}
nav{position:fixed;top:0;width:100%;display:flex;justify-content:space-between;align-items:center;padding:20px 8%;background:#050816dd;backdrop-filter:blur(10px);z-index:10}
.logo{font-size:28px}.logo span,.hero span{color:#00aaff}
.nav-links{display:flex;gap:35px}.nav-links a{color:white;text-decoration:none;transition:.3s}.nav-links a:hover{color:#00aaff}
.hero{height:100vh;display:flex;align-items:center;padding:0 10%;background:linear-gradient(#0008,#0008),url('https://images.unsplash.com/photo-1574717024653-61fd2cf4d44d');background-size:cover}
.hero h1{font-size:60px}.hero p{max-width:650px;margin:20px 0;font-size:20px}
button{padding:14px 35px;border:0;border-radius:30px;background:#00aaff;color:white;cursor:pointer;transition:.3s}button:hover{transform:scale(1.08);box-shadow:0 0 25px #00aaff}
section{padding:100px 10%;text-align:center}
.about{max-width:900px;margin:auto}
.about h2{font-size:38px;margin-bottom:25px;color:#00aaff}
.about p{font-size:18px;line-height:1.8;color:#d1d5db;margin:15px auto;max-width:750px}
.cards{display:flex;justify-content:center;gap:30px;margin-top:40px;flex-wrap:wrap}
.card{background:#111827;padding:25px;border-radius:20px;transition:.4s}.card:hover{transform:translateY(-12px);box-shadow:0 0 30px #00aaff}
iframe{width:300px;height:170px;border-radius:15px;border:0}
.contact-icons{display:flex;flex-direction:row;justify-content:center;align-items:center;gap:35px;margin-top:30px}
.contact-icons a{color:white;text-decoration:none;transition:.3s;display:flex;flex-direction:column;align-items:center}
.contact-icons img{width:35px;height:35px;object-fit:contain;margin-bottom:8px}
.contact-icons span{font-size:14px}
.contact-icons a:hover{transform:translateY(-8px)}
footer{text-align:center;padding:30px;background:#020617}
@media(max-width:768px){.hero h1{font-size:40px}.nav-links{gap:10px}.contact-icons{gap:20px}}